<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
    <link rel="stylesheet" href="mycss.css">
</head>
<body>
        <div id="tukar">
            <header id="myheader" class="flex flex-wrap p-5 justify-start bg-gradient-to-r from-violet-500 to-fuchsia-500">
                <h1 class="text-5xl text-white m-28">Welcome to kanban app</h1> 
            </header>
            <nav id="mynav" class="sm:flex sm:flew-row sm:fixed sm:w-full" id="mynav">
                <div class="bg-gradient-to-b from-sky-700 to-sky-400 sm:flex sm:flew-row sm:w-full sm:justify-start text-xl">
                    <a class="sm:mr-12 sm:ml-12 hover:bg-sky-100 text-white hover:text-blue-400" href="/login">Login</a>
                    <a class="sm:mr-12 hover:bg-sky-100 text-white hover:text-blue-400" href="/register">Register</a>
                </div> 
            </nav>
        </div>

        <section class="m-12">
            <h1 class="text-xl font-bold" id="about">Apa itu Kanban App?</h1>
            <p> Kanban App adalah web berbasis aplikasi sebagai manajemen proyek dengan cara membuat visualisasi menggunakan papan, kolom, dan kartu untuk mengelola tugas dan alur kerja secara lebih efektif.
                Visualisasi itu memungkinkan tim untuk melihat tugas atau pekerjaan yang sedang berlangsung dan memahami informasi kompleks seperti proses, hubungan antar tugas, serta masalah atau risiko yang memengaruhi kemampuan tim dalam menyelesaikan pekerjaan tersebut dengan tepat waktu. 
                Kanban sendiri sebenarnya dalam bahasa Jepang berarti "tanda visual" atau "kartu". Konsep ini pertama kali dikembangkan pada tahun 1940-an oleh Taiichi Ohno salah satu engineer di perusahaan Toyota, Jepang. 
            </p>
        </section>
</body>
</html>