<!DOCTYPE html>
<html lang="en">
    <head>
        {{template "general/header"}}
    </head>
    <body>
        <div class="flex justify-center mt-28">
            <div class="bg-gradient-to-b from-indigo-500 to-indigo-400 h-96 w-96 flex justify-center rounded-lg">
                <form action="/task/update/process?task_id={{.ID}}" method="post">
                    <center><h3 class="m-4 text-xl text-white font-bold">Update new task</h3></center>
                    <br>
                    <h1 class="text-white">Judul</h1>
                    <input class="rounded-lg h-8 w-80 pl-4" id="task" type="text" placeholder="Masukkan judul" name="title" value="{{.Title}}" />
                    <br>
                    <br>
                    <h1 class="text-white">Deskripsi</h1>
                    <textarea class="rounded-lg p-2"
                        placeholder="Description"
                        name="description"
                        id="description"
                        cols="40"
                        rows="4"
                    >{{.Description}}</textarea>
                    <br>
                    <div class="m-4 ml-64">
                        <button type="submit" class="bg-sky-200 px-3 py-2 rounded-lg hover:bg-sky-100">Update</button>
                    </div>   
                </form>
            </div>
        </div>
    </body>
</html>
